[Unit]
Description=user Amazon Cloud Drive FUSE mount
Documentation=https://acd-cli.readthedocs.org/en/latest/
AssertPathIsDirectory=%h/{{ acd_mountpoint }}
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/acd_cli mount --umask 0022 --foreground %h/{{ acd_mountpoint }}
ExecStop=/usr/local/bin/acd_cli -v -nl umount %h/{{ acd_mountpoint }}
Restart=on-abort

[Install]
WantedBy=default.target